<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    我们将User类，写在beans.xml配置文件中，即将该对象交给IoC管理-->
    <bean id="userBean" class="com.powernode.spring6.bean.User"/>

<!--    <bean id="userBean" class="com.powernode.spring6.bean.Vip"/>-->


</beans>
